{% include "header.html" %}

{% import "bootstrap/wtf.html" as wtf %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.subtitle}}</h2>
            <span class="meta">Posted by
              <a href="#">{{post.author.name}}</a>
              on {{post.date}}</span>

            <p class="text-center"><img src="https://media.giphy.com/media/QJfCtrknxjcGPnRfMl/giphy.gif" style="width:19%;"></p>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.body|safe }}
          <hr>

            <!-- If user id is 1 then they can see the deleted button -->
            {% if current_user.id == 1: %}
            <div class="clearfix">
            <a class="btn btn-outline-success btn-block" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
            </div>
          {% endif %}



          <!-- Comments Area -->
          <!-- Load the CKEditor -->
            {{ ckeditor.load(pkg_type="full") }}
          <!-- Configure it with the name of the form field from CommentForm -->
            {{ ckeditor.config(name='comment_text') }}
          <!-- Create the wtf quickform from CommentForm -->
            {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'outline-success  btn-block'}) }}

          <div class="col-lg-8 col-md-10 mx-auto comment">
                    {% for comment in post.comments: %}
                      <ul class="commentList">
                        <li>
                            <div class="commenterImage">
                              <img src="{{ comment.comment_author.email | gravatar }}"/>
                            </div>
                            <!-- <div class="commenterImage">
                              <img src="https://pbs.twimg.com/profile_images/744849215675838464/IH0FNIXk.jpg"/>
                            </div>-->
                            <div class="commentText">
                              <p>{{ comment.text|safe }}</p>
                              <span class="date sub-text">{{ comment.comment_author.name }} --> </span>

                              <!-- If user id is 1 then they can see the deleted button -->
                              {% if current_user.id == 1: %}
                              <a href="{{url_for('comment_to_delete', comment_id=comment.id) }}" style="color:red"> ✘</a>
                              {% endif %}
                            </div>
                        </li>
                      </ul>
                    {% endfor %}
            </div>


          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}